body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(218, 221, 13);
}

h1 {
  text-align: center;
  color: rgb(56, 56, 56);
  font-family: arial;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 15px;
  text-shadow: 0 2px 0 #000000, 0 3px 0 #000000, 0 4px 0 #000000,
    0 5px 0 #000000, 0 30px 6px rgba(0, 0, 0, 0.1);

  animation: float 3s linear infinite;
  animation-direction: alternate;
}

h2 {
  font-family: arial;
  text-transform: uppercase;
}

@keyframes float {
  from {
    transform: rotate(30deg);
  }

  to {
    transform: rotate(-30deg);
  }
}
